.home-page {
    padding: 100px 20px; /* Adjust padding to account for the fixed navbar */
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .home-content {
    margin-top: 20px;
  }
  
  .home-content h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
  }
  
  .home-content p {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
  }
  