.footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 1400px;
    margin-bottom: auto;
    position:fixed;
    width: 100%;
    bottom: 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .footer-bag {
    margin-left: 20px;
  }
  
  .footer-left img.footer-bag {
    width: 40px;
    height: auto;
  }
  .footer-icons img,
  .footer-bag img {
    width: 20px;
    height: 20px;
    margin: 10px;
    
  }
  .footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-login {
    margin-right: 20px;
  }
  
  .footer-right .login-button {
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  .footer-login-button {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
  }
  