.LoginSignUp {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontal centering */
    justify-content: center; /* Vertical centering */
    height: 100vh; /* Full viewport height to center vertically */
    text-align: center; /* Align text inside the div */
    border: 1px solid #ccc; /* Optional: for better visibility of the box */
    padding: 20px; /* Optional: Add padding for spacing inside the box */
    margin-bottom: 500px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow for aesthetics */
  }
  
 .loginPageButton{
    background-color: wheat;
    margin-left: 10px;
    margin-left: 10px;
    width: 100px;
    height: 40px;
  }

  html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures full viewport height */
  justify-content: flex-start; /* Align content to the top */
}
