.content {
  margin-top: 80px; /* Adjust to match Navbar height */
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: var(--background-dark);
  color: var(--text-light);
}
